@import './App.scss';

// MARKDOWN STYLES
#preview {
    padding-left: 5;
    background-color: lighten($backgroundBase, 20%);
  
    blockquote {
      border-left: 3px solid $darkAccent;
      color: $darkAccent;
      padding-left: 5px;
      margin-left: 25px;
    }
  
    > p > code {
      padding: 3px;
    }
  
    code {
      background: white;
      font-size: 0.875rem;
      font-weight: bold;
    }
  
    pre {
      display: block;
      overflow: auto;
      background: white;
      padding: 5px;
      line-height: 1.2;
    }
  
    h1 {
      border-bottom: 2px solid $darkAccent;
    }
  
    h2 {
      border-bottom: 1px solid $darkAccent;
    }
  
    table {
      border-collapse: collapse; 
    }
  
    td,
    th {
      border: 2px solid $darkAccent;
      padding-left: 5px;
      padding-right: 5px;
    }
  
    img {
      display: block;
      max-width: 90%;
      margin: 2rem auto;
    }
  }
  
  @media screen and (max-width: 420px) {
    body {
      font-size: 0.875rem;
    }
  }